<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<LINK rel=stylesheet href='css/sys.css'>
<BODY>
<!-- 此页面为了安全请不要放置广告代码 -->

<form name='form1' method='post' action='{pwdmodifysaveurl}'>
<div id='pwdmodify'>
<ul id='pwdmodify_a'>
<li id='pwdmodify_a1'>找回密码</li>
<li id='pwdmodify_a2'>新密码：</li>
<li id='pwdmodify_a2'><input name='pwd' type='password' id='pwd'></li>
<li id='pwdmodify_a2'>新密码确认：</li>
<li id='pwdmodify_a2'><input name='pwd2' type='password' id='pwd2'></li>
<li id='pwdmodify_a3'><input type='submit' name='Submit2' value='修改'></li>
</ul>
</div>
</form>