<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<appSettings>
<add key="DbAddress_A" value="localhost" /><!--请输入Sqlserver服务器的IP地址，数据库和程序在同一台服务器上只要填写localhost就可以-->
<add key="DbUser_A" value="juliang" /><!--请输入连接Sqlserver服务器的用户名-->
<add key="DbPassword_A" value="123456" /><!--请输入连接Sqlserver服务器的密码-->
<add key="DbName_A" value="juliang" /><!--请输入Sqlserver服务器的数据库名称-->
<add key="DbPool_A" value="3" /><!--是否使用数据库连接池,一般此处不需要更改,0为禁用,1最小,2一般,3最大(默认)-->
</appSettings>


<system.web>
<compilation defaultLanguage="vb" debug="true" />
<customErrors mode="Off" />
<pages validateRequest="false" />
<authentication mode="Windows" />
<authorization>
<allow users="*" />
</authorization>
<globalization requestEncoding="gb2312" responseEncoding="gb2312" />
</system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.asp" />
            </files>
        </defaultDocument>
    </system.webServer>


<!--伪静态规则开始-->
<!--

<system.webServer>
<rewrite>
<rules>

<rule name="index" stopProcessing="true">
<match url="^index.html"/>
<action type="Rewrite" url="index.asp?f=index"/>
</rule>

<rule name="webowner" stopProcessing="true">
<match url="webowner.html"/>
<action type="Rewrite" url="index.asp?f=webowner"/>
</rule>

<rule name="advertiser" stopProcessing="true">
<match url="advertiser.html"/>
<action type="Rewrite" url="index.asp?f=advertiser"/>
</rule>

<rule name="agent" stopProcessing="true">
<match url="agent.html"/>
<action type="Rewrite" url="index.asp?f=agent"/>
</rule>

<rule name="infoall" stopProcessing="true">
<match url="infoall.html"/>
<action type="Rewrite" url="index.asp?f=infoall"/>
</rule>

<rule name="infoallpage" stopProcessing="true">
<match url="infoall_a([0-9]*)p([0-9]*).html"/>
<action type="Rewrite" url="index.asp?f=infoall&amp;assort={R:1}&amp;page={R:2}"/>
</rule>

<rule name="infoshow" stopProcessing="true">
<match url="infoshow_([0-9]*).html"/>
<action type="Rewrite" url="index.asp?f=infoshow&amp;id={R:1}"/>
</rule>

<rule name="help" stopProcessing="true">
<match url="help.html"/>
<action type="Rewrite" url="index.asp?f=help"/>
</rule>

<rule name="style" stopProcessing="true">
<match url="style.html"/>
<action type="Rewrite" url="index.asp?f=style"/>
</rule>

<rule name="rule" stopProcessing="true">
<match url="rule.html"/>
<action type="Rewrite" url="index.asp?f=rule"/>
</rule>

<rule name="service" stopProcessing="true">
<match url="service.html"/>
<action type="Rewrite" url="index.asp?f=service"/>
</rule>

<rule name="contact" stopProcessing="true">
<match url="contact.html"/>
<action type="Rewrite" url="index.asp?f=contact"/>
</rule>

<rule name="reg" stopProcessing="true">
<match url="reg.html"/>
<action type="Rewrite" url="index.asp?f=reg"/>
</rule>

<rule name="login" stopProcessing="true">
<match url="login.html"/>
<action type="Rewrite" url="index.asp?f=login"/>
</rule>

<rule name="pwdrecover" stopProcessing="true">
<match url="pwdrecover.html"/>
<action type="Rewrite" url="index.asp?f=pwdrecover"/>
</rule>

</rules>
</rewrite>
</system.webServer>

-->
<!--伪静态规则结束-->


</configuration>
