<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html>
<head>
<title>{infotitle}</title>
<meta name="keywords" content="{infokeyword}">
<meta name="description" content="{infodesc}">
<link rel="icon" href="images/favicon.ico" type="image/ico">
<script src="js/jquery.min.js"></script>
<script language=javascript src="js/global.js"></script>

<link rel="stylesheet" href="css/BeAlert.css">
<script src="js/BeAlert.js"></script>
<link rel="stylesheet" href="css/sys.css" type="text/css">
<meta http-equiv=Content-Type content="text/html; charset=gbk">

<link rel="stylesheet" href="template/default/images/style.css" type="text/css">
<body>

<table class="top_logo">
  <tr>
      <td><img src="template/default/images/logo.gif"  />

<a href="{url_reg}">注册</a>&nbsp;&nbsp;
<a href="{url_login}">登录</a>&nbsp;&nbsp;
<A href="index.asp?Action=mobile">手机版</A>
<span id="webdatashow"></span>
</tr>
</table>

<table class="top_menu">
  <tr>
<td id='menu'>
  <img id="websiteowner" src="template/default/images/top_i1.gif"><a href="{url_index}">首 页</a>
  <img src="template/default/images/top_i2.gif"><a href="{url_webowner}">网站主</a>
  <img src="template/default/images/top_i3.gif"><a href="{url_advertiser}">广告主</a>
  <img src="template/default/images/top_i3.gif"><a href="{url_agent}">代理商</a>
  <img src="template/default/images/top_i4.gif"><a href="{url_infoall}">联盟公告</a>
  <img src="template/default/images/top_i5.gif"><a href="{url_help}">常见问题</a>
  <img src="template/default/images/top_i6.gif"><a href="{url_style}">广告样式</a>
  <img src="template/default/images/top_i7.gif"><a href="{url_rule}">结算规则</a>
  <img src="template/default/images/top_i8.gif"><a href="{url_service}">服务条款</a>
  <img src="template/default/images/top_i9.gif"><a href="{url_contact}">联系我们</a>
  </td>  
</tr>
</table>