	<div id="footer">
 
		<div class="copy">
			<div class="w960">
				<ul>
					<li><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备10000000号-1</a> 客户服务热线：400-0000-000</li>
					<li>Copyright <span> </span> 2015 a.com All Rights Reserved</li>
				</ul>
			</div>
		</div>
 
	</div>
 
 
	<div class="feedback_box">
		<a href="#top" class="gotop" id="gotop" style="display: none;"></a>
		<a href="http://wpa.qq.com/msgrd?v=3&uin=123456&site=www.a.com&menu=yes" target="_blank" class="gocontact"></a>
		<a href="{url_contact}" class="gofeedback"></a>
	</div>


</body>
</html>
