{top}


<div style="margin:0px auto;width:960px;"><img src="template/151022/images/banner_lxwm.jpg" style="width:960px;height:auto"></div>

	<div id="mainbody">
		<div class="w960 register">


			<div class="regbox">
 
					<input name="action" type="hidden" value="reg">
					<div class="regleft">


<script>
qq_1_code="{qq_1_code}";
qq_1_nickname="{qq_1_nickname}";

qq_2_code="{qq_2_code}";
qq_2_nickname="{qq_2_nickname}";

qq_3_code="{qq_3_code}";
qq_3_nickname="{qq_3_nickname}";

qq_4_code="{qq_4_code}";
qq_4_nickname="{qq_4_nickname}";

qq_5_code="{qq_5_code}";
qq_5_nickname="{qq_5_nickname}";

qq_6_code="{qq_6_code}";
qq_6_nickname="{qq_6_nickname}";

qq_7_code="{qq_7_code}";
qq_7_nickname="{qq_7_nickname}";

qq_8_code="{qq_8_code}";
qq_8_nickname="{qq_8_nickname}";

qq_9_code="{qq_9_code}";
qq_9_nickname="{qq_9_nickname}";

qq_10_code="{qq_10_code}";
qq_10_nickname="{qq_10_nickname}";


if (qq_1_code!=""){
 document.write (qq_1_nickname +":<a target='_blank' href='http://wpa.qq.com/msgrd?v=3&uin="+qq_1_code+"&site=qq&menu=yes'><img border='0'  src='images/qqonline2.gif' title='点击和客服"+qq_1_nickname+"QQ号"+qq_1_code+"咨询' style='margin:4px 6px'></a>");
}

if (qq_2_code!=""){
 document.write (qq_2_nickname +":<a target='_blank' href='http://wpa.qq.com/msgrd?v=3&uin="+qq_2_code+"&site=qq&menu=yes'><img border='0'  src='images/qqonline2.gif' title='点击和客服"+qq_2_nickname+"QQ号"+qq_2_code+"咨询' style='margin:4px 6px'></a>");
}

if (qq_3_code!=""){
 document.write (qq_3_nickname +":<a target='_blank' href='http://wpa.qq.com/msgrd?v=3&uin="+qq_3_code+"&site=qq&menu=yes'><img border='0'  src='images/qqonline2.gif' title='点击和客服"+qq_3_nickname+"QQ号"+qq_3_code+"咨询' style='margin:4px 6px'></a>");
}

if (qq_4_code!=""){
 document.write (qq_4_nickname +":<a target='_blank' href='http://wpa.qq.com/msgrd?v=3&uin="+qq_4_code+"&site=qq&menu=yes'><img border='0'  src='images/qqonline2.gif' title='点击和客服"+qq_4_nickname+"QQ号"+qq_4_code+"咨询' style='margin:4px 6px'></a><br>");
}


if (qq_5_code!=""){
 document.write (qq_5_nickname +":<a target='_blank' href='http://wpa.qq.com/msgrd?v=3&uin="+qq_5_code+"&site=qq&menu=yes'><img border='0'  src='images/qqonline2.gif' title='点击和客服"+qq_5_nickname+"QQ号"+qq_5_code+"咨询' style='margin:4px 6px'></a>");
}

if (qq_6_code!=""){
 document.write (qq_6_nickname +":<a target='_blank' href='http://wpa.qq.com/msgrd?v=3&uin="+qq_6_code+"&site=qq&menu=yes'><img border='0'  src='images/qqonline2.gif' title='点击和客服"+qq_6_nickname+"QQ号"+qq_6_code+"咨询' style='margin:4px 6px'></a>");
}

if (qq_7_code!=""){
 document.write (qq_7_nickname +":<a target='_blank' href='http://wpa.qq.com/msgrd?v=3&uin="+qq_7_code+"&site=qq&menu=yes'><img border='0'  src='images/qqonline2.gif' title='点击和客服"+qq_7_nickname+"QQ号"+qq_7_code+"咨询' style='margin:4px 6px'></a>");
}

if (qq_8_code!=""){
 document.write (qq_8_nickname +":<a target='_blank' href='http://wpa.qq.com/msgrd?v=3&uin="+qq_8_code+"&site=qq&menu=yes'><img border='0'  src='images/qqonline2.gif' title='点击和客服"+qq_8_nickname+"QQ号"+qq_8_code+"咨询' style='margin:4px 6px'></a><br>");
}

if (qq_9_code!=""){
 document.write (qq_9_nickname +":<a target='_blank' href='http://wpa.qq.com/msgrd?v=3&uin="+qq_9_code+"&site=qq&menu=yes'><img border='0'  src='images/qqonline2.gif' title='点击和客服"+qq_9_nickname+"QQ号"+qq_9_code+"咨询' style='margin:4px 6px'></a>");
}

if (qq_10_code!=""){
 document.write (qq_10_nickname +":<a target='_blank' href='http://wpa.qq.com/msgrd?v=3&uin="+qq_10_code+"&site=qq&menu=yes'><img border='0'  src='images/qqonline2.gif' title='点击和客服"+qq_10_nickname+"QQ号"+qq_10_code+"咨询' style='margin:4px 6px'></a>");
}
</script>

{menu_lxwm}


					</div>
					<div class="regright">
						<div class="login">
							<dl>
								<dt>已经是{systitle}用户：</dt>
								<dd><input type="button" value="登录" class="btn_login" onclick="window.location.href='{url_index}';"></dd>
							</dl>
							<dl>
								<dd>
									<p>国内领先的互联网营销平台！</p>
									<p>产品稳定、数据可靠；</p>
									<p>金牌服务，让您赚钱更安心！</p>
								</dd>
							</dl>
						</div>			
					</div>
					<div style="clear:both"></div>
		 
			</div>
		</div>
	</div>



	
{bottom}