<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<LINK rel=stylesheet href='css/sys.css'>
<BODY>
<!-- 此页面为了安全请不要放置广告代码 -->

<form name='form1' method='post' action='{pwdanswermodifysaveurl}'>
<div id='pwdanswermodify'>
<ul id='pwdanswermodify_a'>
<li id='pwdanswermodify_a1'>修改密码提示和答案</li>
<li id='pwdanswermodify_a2'>新密码提示问题：</li>
<li id='pwdanswermodify_a2'><input name='pwdask_new' type='text' id='pwdask_new'></li>
<li id='pwdanswermodify_a2'>新密码回答答案：</li>
<li id='pwdanswermodify_a2'><input name='pwdanswer_new' type='text' id='pwdanswer_new'></li>
<li id='pwdanswermodify_a3'><input type='submit' name='Submit2' value='修改'></li>
</ul>
</div>
</form>