{top}



<div class="lyear-login-box">
  <div class="lyear-login-left" style="background-image: url(template/m4/images/login-bg-4.jpg)">
    <div class="lyear-overlay"></div>
    <div class="lyear-featured">
      <h4>愿你有好运气，如果没有，愿你在不幸中学会慈悲；愿你被很多人爱，如果没有，愿你在寂寞中学会宽容。<small> - 刘瑜《愿你慢慢长大》</small></h4>
    </div>
  </div>
  <div class="lyear-login-right">
    
    <div class="lyear-logo text-center"> 
      <a href="{url_index}"><img src="template/m4/images/logo-sidebar.png" alt="logo" /></a> 
    </div>
    <script>
$(function(){
$("#pwdrecoverbtn").click(function(){
 if($("#username").val()==""){
  alert('请输入用户名', '', function () {$("#username").focus();});
  return false;
 }
});
});
</script>
<form name="form1" method="post" action="CF.aspx?Action=pwdsend">
<div id="pwdrecover">
<ul>
<li id="pwdrecover_a1">找回密码</li>
<li id="pwdrecover_a2">系统会自动发送修改密码邮件到你的Email里</li>
<li id="pwdrecover_a3">你的用户名：</li>
<li id="pwdrecover_a4"><input type="text" name="username" id="username"></li>
<li id="pwdrecover_a5">
<input type="submit" name="pwdrecoverbtn" id="pwdrecoverbtn" value="取回密码"><span style="margin-left:15px"><a href="javascript:history.go(-1);">返回</a></span>
</li>
</ul>
</div>
</form>
{pwdrecoverother}
		
      <footer class="text-center">
        <p class="m-b-0">Copyright&nbsp;&copy;&nbsp;All Rights Reserved.</p>
      </footer>
    </form>
    
  </div>
</div>


{bottom}
