{top}

<div class="banner box-lazy1">
		<div class="banner-img">
			<ul>
				<li>
					<img src="template/190805/images/img1920_2.jpg" class="lazy fadeIn animated" data-delay=".3s" data-class="fadeIn animated" style="animation-delay: 0.3s; visibility: visible;">
					<div class="textbg lazy fadeIn animated" data-delay=".6s" data-class="fadeIn animated" style="animation-delay: 0.6s; visibility: visible;">
						<div class="box">
							<h2 class="lazy fadeInDown animated" data-delay=".9s" data-class="fadeInDown animated" style="animation-delay: 0.9s; visibility: visible;">创新高效的互联网广告营销</h2>
							<p class="lazy fadeInUp animated" data-delay="1.2s" data-class="fadeInUp animated" style="animation-delay: 1.2s; visibility: visible;">智能精准投放<i></i>为你带来最大化收益</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="process box-lazy2 zm">
		<div class="box">
			<h2 class="lazy fadeInRight animated" data-delay=".3s" data-class="fadeInRight animated" style="animation-delay: 0.3s; visibility: visible;">广告投放流程</h2>
			<ul>
				<li class="icon1 lazy bounceIn animated" data-delay=".5s" data-class="bounceIn animated" style="animation-delay: 0.5s; visibility: visible;">注册</li>
				<li class="line lazy process-line animated" data-delay=".1s" data-class="process-line animated" style="animation-delay: 0.1s; visibility: visible;"></li>
				<li class="icon2 lazy bounceIn animated" data-delay=".7s" data-class="bounceIn animated" style="animation-delay: 0.7s; visibility: visible;">后台管理</li>
				<li class="line lazy process-line animated" data-delay=".1s" data-class="process-line animated" style="animation-delay: 0.1s; visibility: visible;"></li>
				<li class="icon3 lazy bounceIn animated" data-delay=".9s" data-class="bounceIn animated" style="animation-delay: 0.9s; visibility: visible;">发布广告</li>
				<li class="line lazy process-line animated" data-delay=".1s" data-class="process-line animated" style="animation-delay: 0.1s; visibility: visible;"></li>
				<li class="icon4 lazy bounceIn animated" data-delay="1.1s" data-class="bounceIn animated" style="animation-delay: 1.1s; visibility: visible;">查看效果</li>
			</ul>
		</div>
	</div>
	<div class="introduce-tab box tab-one clear">
		<div class="box-lazy3 tab-hd">
			<ul>
				<li class="hover lazy" data-delay=".2s" data-duration=".6s" data-class="fadeInUp animated">广告形式</li>
				<li class="lazy" data-delay=".4s" data-duration=".6s" data-class="fadeInUp animated">计费模式</li>
				<li class="lazy" data-delay=".6s" data-duration=".6s" data-class="fadeInUp animated">效果监控</li>
				<li class="lazy" data-delay=".8s" data-duration=".6s" data-class="fadeInUp animated">精准投放</li>
				<li class="lazy" data-delay="1s" data-duration=".6s" data-class="fadeInUp animated">节约成本</li>
			</ul>
		</div>
		<div class="box-lazy4">
			<div class="tab-bd zm">
				<div>
					<div class="text fl">
						<h3 class="lazy" data-delay=".2s" data-class="bounceIn animated">广告形式</h3>
						<p class="lazy" data-delay=".4s" data-class="fadeInUp animated">88移动联盟提供覆盖市面主流样式的合作，包括插屏广告、通栏广告、漂浮广告、悬浮广告、弹窗广告等多种广告展现形式。同时，88移动联盟在样式创新的道路上走在行业最前沿。凭借丰富的信息流广告经验，独创原生广告样式，使广告与播放环境高度融合，即能形成一致的用户体验，达到最好的宣传效果。</p>
					</div>
					<div class="img lazy fr" data-delay=".6s" data-class="fadeInRight animated"><img src="template/190805/images/introduce1.jpg"></div>
				</div>
				<div class="ds-n">
					<div class="text fl">
						<h3 class="lazy" data-delay=".2s" data-class="bounceIn animated">计费模式</h3>
						<p class="lazy" data-delay=".4s" data-class="fadeInUp animated">CPM (弹窗付费)、CPC (点击付费)、CPV (显示效果付费)、CPS (成功销售付费)、CPA (有效注册付费)多种广告投放方式及计费模式，广告主自由选择，满足投放需求。</p>
					</div>
					<div class="img lazy fr" data-delay=".6s" data-class="fadeInRight animated"><img src="template/190805/images/introduce2.jpg"></div>
				</div>
				<div class="ds-n">
					<div class="text fl">
						<h3 class="lazy" data-delay=".2s" data-class="bounceIn animated">效果监控</h3>
						<p class="lazy" data-delay=".4s" data-class="fadeInUp animated">在广告投上线后，可以对已经投放的广告进行效果监控，分析广告投放效果，进行灵活性的调整，广告内容与网站类型的相关程度调整， 费用预算等等。广告投放期间可以针对目标群的浏览高低峰，对广告进行24小时的时间段显示，智能化管理，只要选择时间段投放就会自动上下线自己的广告。</p>
					</div>
					<div class="img lazy fr" data-delay=".6s" data-class="fadeInRight animated"><img src="template/190805/images/introduce3.jpg"></div>
				</div>
				<div class="ds-n">
					<div class="text fl">
						<h3 class="lazy" data-delay=".2s" data-class="bounceIn animated">精准投放</h3>
						<p class="lazy" data-delay=".4s" data-class="fadeInUp animated">通过IP地址及Cookie技术，网络广告主可以根据个人不同的差别将受众分类，以细分化的有差别的市场策略， 确立品牌位置，将广告信息准确发送给目标用户，以求得最佳效果，同时避免广告费的浪费。88移动联盟为广告主提供了丰富的网络媒体，对你的广告进行分类的投放，定向常浏览的目标群。</p>
					</div>
					<div class="img lazy fr" data-delay=".6s" data-class="fadeInRight animated"><img src="template/190805/images/introduce4.jpg"></div>
				</div>
				<div class="ds-n">
					<div class="text fl">
						<h3 class="lazy" data-delay=".2s" data-class="bounceIn animated">节约成本</h3>
						<p class="lazy" data-delay=".4s" data-class="fadeInUp animated">88移动联盟用专业的技术为您精打细算，花费比传统广告低廉数倍的费用，收获比传统广告多数倍的效果！过万的各种类型的网站资源，迅速帮助广告主提升品牌知名度，创造广告效益，帮助企业网站提升访问量，提升网站收益。</p>
					</div>
					<div class="img lazy fr" data-delay=".6s" data-class="fadeInRight animated"><img src="template/190805/images/introduce5.jpg"></div>
				</div>		
			</div>
			<div class="btn lazy" data-delay="1s" data-class="fadeInUp animated"><a href="{url_reg}">我是广告主，立即注册投放广告</a></div>
		</div>
	</div>

{bottom}
