<div class="item5 zm">
    <div class="box">
        <div class="mod-one fl">
            <div class="list">
                <h2>网站主客服：</h2>
                <p>
                                            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={qq_1_code}&site=qq&menu=yes">{qq_1_nickname}</a>
                                            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={qq_2_code}&site=qq&menu=yes">{qq_2_nickname}</a>
                                            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={qq_3_code}&site=qq&menu=yes">{qq_3_nickname}</a>
                                            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={qq_4_code}&site=qq&menu=yes">{qq_4_nickname}</a>
                                            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={qq_5_code}&site=qq&menu=yes">{qq_5_nickname}</a>
                                            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={qq_6_code}&site=qq&menu=yes">{qq_6_nickname}</a>
                                    </p>
            </div>
            <div class="list mg">
                <h2>广告主客服：</h2>
                <p>                        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={qqb_1_code}&site=qq&menu=yes">{qqb_1_nickname}</a>
                                            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={qqb_2_code}&site=qq&menu=yes">{qqb_2_nickname}</a>
                                            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={qqb_3_code}&site=qq&menu=yes">{qqb_3_nickname}</a>
                                            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={qqb_4_code}&site=qq&menu=yes">{qqb_4_nickname}</a>
                                            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={qqb_5_code}&site=qq&menu=yes">{qqb_5_nickname}</a>
                                            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={qqb_6_code}&site=qq&menu=yes">{qqb_6_nickname}</a>
                                    </p>
            </div>
        </div>
        <div class="mod-two fr">
            <h2></h2>
            <p>地址：xxxxxxxxxxxxxxxxxxxxxxxxxxxx xx科技</p>
            <p>投诉QQ：<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=12345&amp;site=qq&amp;menu=yes">12345</a></p>
            <p>联系电话：010-12345678</p>
        </div>
    </div>
</div>
<div class="links zm">
    <div class="box">
        <span>友情链接：</span>
        <a href="http://www.qqcf.com/" target="_blank">乘风原创程序</a>
        <a href="http://www.yoyou.com/" target="_blank">优游网</a>
        <a href="http://www.9553.com/" target="_blank">9553下载</a>
        <a href="http://www.ixiumei.com/" target="_blank">秀美网</a>
        <a href="http://www.zhaodanji.com/" target="_blank">找游戏</a>
        <a href="http://www.99danji.com/" target="_blank">99游戏</a>
    </div>
</div>
<div class="footer tc">
    <div class="box">Copyright 2019 All Rights Reserved.<i>信息产业部备案号：<a href="#" target="_blank" style="color: #fff;">京ICP备12345678号</a></i>xx广告联盟版权所有</div>
</div></div>
<script src="template/190805/images/build.js"></script>
<script>
	$(function(){
		$('.box-lazy1').lazyload();
		$('.box-lazy2').lazyload({ 
			BoxName:'.box-lazy2'
		});
		$('.box-lazy3').lazyload({ 
			BoxName:'.box-lazy3'
		});
		$('.box-lazy4').lazyload({ 
			BoxName:'.box-lazy4'
		});
		$('.box-lazy5').lazyload({ 
			BoxName:'.box-lazy5'
		});
		$('#tab-one').TabList()
	})
</script>

</body>
</html>