{top}

	<div class="banner box-lazy1">
		<div class="banner-img">
			<ul>
				<li>
					<img src="template/190805/images/img1920_1.jpg" class="lazy fadeIn animated" data-delay=".3s" data-class="fadeIn animated" style="animation-delay: 0.3s; visibility: visible;">
					<div class="textbg lazy fadeIn animated" data-delay=".6s" data-class="fadeIn animated" style="animation-delay: 0.6s; visibility: visible;">
						<div class="box">
							<h2 class="lazy fadeInDown animated" data-delay=".9s" data-class="fadeInDown animated" style="animation-delay: 0.9s; visibility: visible;">网络广告一站式投放平台</h2>
							<p class="lazy fadeInUp animated" data-delay="1.2s" data-class="fadeInUp animated" style="animation-delay: 1.2s; visibility: visible;">高效的推广形式<i></i>最大化的广告效果</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="item1 tc box box-lazy2">
		<div class="hd-text">
			<h2 class="lazy flipInX animated" data-delay=".2s" data-class="flipInX animated" style="animation-delay: 0.2s; visibility: visible;">我们的优势</h2>
			<p class="lazy fadeInUp animated" data-delay=".3s" data-class="fadeInUp animated" style="animation-delay: 0.3s; visibility: visible;">覆盖全行业广告主，超高收益！每天超过20亿次展示，精准定向投放，以效果说话！</p>
		</div>
		<ul>
			<li>
				<img src="template/190805/images/img240_1.png" class="lazy zoomIn animated" data-delay=".5s" data-duration=".4s" data-class="zoomIn animated" style="animation-delay: 0.5s; visibility: visible; animation-duration: 0.4s;">
				<h3 class="lazy fadeInUp animated" data-delay="1s" data-class="fadeInUp animated" style="animation-delay: 1s; visibility: visible;">高额的收入回报</h3>
				<p class="lazy fadeInUp animated" data-delay="1.2s" data-class="fadeInUp animated" style="animation-delay: 1.2s; visibility: visible;">覆盖各行业众多广告主<br>精准定位精准投放<br>高点击高单价高收益</p>
			</li>
			<li>
				<img src="template/190805/images/img240_2.png" class="lazy zoomIn animated" data-delay=".6s" data-duration=".4s" data-class="zoomIn animated" style="animation-delay: 0.6s; visibility: visible; animation-duration: 0.4s;">
				<h3 class="lazy fadeInUp animated" data-delay="1.3s" data-class="fadeInUp animated" style="animation-delay: 1.3s; visibility: visible;">海量的广告资源</h3>
				<p class="lazy fadeInUp animated" data-delay="1.4s" data-class="fadeInUp animated" style="animation-delay: 1.4s; visibility: visible;">与众多渠道建立紧密合作关系<br>拥有覆盖全网广告流量资源<br>最少投入带来最好的投放效果</p>
			</li>
			<li>
				<img src="template/190805/images/img240_3.png" class="lazy zoomIn animated" data-delay=".7s" data-duration=".4s" data-class="zoomIn animated" style="animation-delay: 0.7s; visibility: visible; animation-duration: 0.4s;">
				<h3 class="lazy fadeInUp animated" data-delay="1.5s" data-class="fadeInUp animated" style="animation-delay: 1.5s; visibility: visible;">智能的数据分析</h3>
				<p class="lazy fadeInUp animated" data-delay="1.6s" data-class="fadeInUp animated" style="animation-delay: 1.6s; visibility: visible;">独特的先进数据挖掘技术<br>精准挖掘用户群<br>实现传播效果最大化</p>
			</li>
			<li>
				<img src="template/190805/images/img240_4.png" class="lazy zoomIn animated" data-delay=".8s" data-duration=".4s" data-class="zoomIn animated" style="animation-delay: 0.8s; visibility: visible; animation-duration: 0.4s;">
				<h3 class="lazy fadeInUp animated" data-delay="1.7s" data-class="fadeInUp animated" style="animation-delay: 1.7s; visibility: visible;">多样的广告形式</h3>
				<p class="lazy fadeInUp animated" data-delay="1.8s" data-class="fadeInUp animated" style="animation-delay: 1.8s; visibility: visible;">支持多种主流广告形式<br>为广告制定最合适的展现形式<br>以吸引目标受众进行交互</p>
			</li>
		</ul>
	</div>
	<div class="item2 box-lazy3 zm">
		<div class="box">
			<div class="hd-text tc">
				<h2 class="lazy" data-delay=".2s" data-class="flipInX animated">我们的广告形式</h2>
				<p class="lazy" data-delay=".3s" data-class="fadeInUp animated">开启2017广告形式新时代，多种广告形式任你挑选！</p>
			</div>
			<div id="tab-one" class="tab-one lazy" data-delay=".5s" data-class="fadeInRight animated">
				<div class="tab-hd">
					<ul>
						<li class="one hover lazy" data-delay=".7s" data-class="flipInX animated">通栏广告</li>
						<li class="two lazy" data-delay="1.1s" data-class="flipInX animated">插屏广告</li>
						<li class="three lazy" data-delay="1.3s" data-class="flipInX animated">横幅广告</li>
						<li class="four lazy" data-delay="1.5s" data-class="flipInX animated">跳转广告</li>
						<li class="five lazy" data-delay="1.7s" data-class="flipInX animated">图文广告</li>
					</ul>
				</div>
				<div class="tab-bd">
					<div class="one"><p class="lazy" data-delay=".2s" data-duration=".4s" data-class="zoomIn animated">以通栏的形式展现<br>具有稳定的填充和收益</p></div>
					<div class="two ds-n"><p class="lazy" data-delay=".2s" data-duration=".4s" data-class="zoomIn animated">半屏式的漂窗类广告<br>良好的用户体验</p></div>
					<div class="three ds-n"><p class="lazy" data-delay=".2s" data-duration=".4s" data-class="zoomIn animated">作为应用的一部分<br>与网页高度融合的广告</p></div>
					<div class="four ds-n"><img class="lazy" src="template/190805/images/ad4.jpg" data-delay=".5s" data-class="flash animated"><p class="lazy" data-delay=".2s" data-duration=".4s" data-class="zoomIn animated">全屏的弹窗类广告<br>全屏的广告形式</p></div>
					<div class="five ds-n"><p class="lazy" data-delay=".2s" data-duration=".4s" data-class="zoomIn animated">列表、橱窗形式展现<br>更多的广告曝光</p></div>
				</div>
			</div>
		</div>
	</div>
	<div class="item3 box-lazy4 box">
		<div class="mod-one lazy fl" data-delay=".2s" data-class="fadeIn animated">
			<h2>最新公告</h2>
			<ul class="mod-list">
        		<li><span>{infolast_1_datesimple}</span><a href="{infolast_1_link}" target="_blank">{infolast_1_title}</a></li>
        		<li><span>{infolast_2_datesimple}</span><a href="{infolast_2_link}" target="_blank">{infolast_2_title}</a></li>
        		<li><span>{infolast_3_datesimple}</span><a href="{infolast_3_link}" target="_blank">{infolast_3_title}</a></li>
        		<li><span>{infolast_4_datesimple}</span><a href="{infolast_4_link}" target="_blank">{infolast_4_title}</a></li>
        		<li><span>{infolast_5_datesimple}</span><a href="{infolast_5_link}" target="_blank">{infolast_5_title}</a></li>
        						</ul>
		</div>
		<div class="mod-one lazy fr" data-delay=".4s" data-class="fadeIn animated">
			<h2>常见问题</h2>
			<ul class="mod-list">
        		<li><span>{helplast_1_datesimple}</span><a href="{helplast_1_link}" target="_blank">{helplast_1_title}</a></li>
        		<li><span>{helplast_2_datesimple}</span><a href="{helplast_2_link}" target="_blank">{helplast_2_title}</a></li>
        		<li><span>{helplast_3_datesimple}</span><a href="{helplast_3_link}" target="_blank">{helplast_3_title}</a></li>
        		<li><span>{helplast_4_datesimple}</span><a href="{helplast_4_link}" target="_blank">{helplast_4_title}</a></li>
        		<li><span>{helplast_5_datesimple}</span><a href="{helplast_5_link}" target="_blank">{helplast_5_title}</a></li>
        						</ul>
		</div>
	</div>
	<div class="item4 box-lazy5 zm">
		<div class="box">
			<div class="hd-text tc">
				<h2 class="lazy" data-delay=".2s" data-class="flipInX animated">我们的客户</h2>
				<p class="lazy" data-delay=".3s" data-class="fadeInUp animated">成功源于客户，客户需求是我们努力的方向</p>
			</div>
			<ul>
				<li class="lazy" data-delay=".4s" data-duration=".5s" data-class="fadeInUp animated"><a href="http://www.72g.com/" target="_blank"><img src="template/190805/images/img200_1.jpg"></a></li>
				<li class="lazy" data-delay=".5s" data-duration=".5s" data-class="fadeInUp animated"><a href="http://www.265g.com/" target="_blank"><img src="template/190805/images/img200_2.jpg"></a></li>
				<li class="lazy" data-delay=".6s" data-duration=".5s" data-class="fadeInUp animated"><a href="http://www.ali213.net/" target="_blank"><img src="template/190805/images/img200_3.jpg"></a></li>
				<li class="lazy" data-delay=".7s" data-duration=".5s" data-class="fadeInUp animated"><a href="http://www.newasp.net/" target="_blank"><img src="template/190805/images/img200_4.jpg"></a></li>
				<li class="lazy" data-delay=".8s" data-duration=".5s" data-class="fadeInUp animated"><a href="http://www.7down.com/" target="_blank"><img src="template/190805/images/img200_5.jpg"></a></li>
				<li class="lazy" data-delay=".9s" data-duration=".5s" data-class="fadeInUp animated"><a href="http://www.yoyou.com/" target="_blank"><img src="template/190805/images/img200_6.jpg"></a></li>
				<li class="lazy" data-delay="1s" data-duration=".5s" data-class="fadeInUp animated"><a href="http://www.9553.com/" target="_blank"><img src="template/190805/images/img200_7.jpg"></a></li>
				<li class="lazy" data-delay="1.1s" data-duration=".5s" data-class="fadeInUp animated"><a href="http://www.99danji.com/" target="_blank"><img src="template/190805/images/img200_8.jpg"></a></li>
				<li class="lazy" data-delay="1.2s" data-duration=".5s" data-class="fadeInUp animated"><a href="http://www.ixiumei.com/" target="_blank"><img src="template/190805/images/img200_9.jpg"></a></li>
				<li class="lazy" data-delay="1.3s" data-duration=".5s" data-class="fadeInUp animated"><a href="http://www.xinkuai.com/" target="_blank"><img src="template/190805/images/img200_10.jpg"></a></li>
			</ul>
		</div>
	</div>

{bottom}