<!DOCTYPE html>
<html>
<head>
<title>{infotitle}</title>
<meta name="keywords" content="{infokeyword}">
<meta name="description" content="{infodesc}">
<link rel="icon" href="images/favicon.ico" type="image/ico">
<meta http-equiv="Content-Type" content="text/html; charset=gbk">
<link rel="stylesheet" href="css/sys.css">
<link rel="stylesheet" href="template/190805/images/style.css">

<script language=javascript src="js/global.js"></script>
<script src="js/jquery.min.js"></script>

<link rel="stylesheet" href="css/BeAlert.css">
<script src="js/BeAlert.js"></script>
</head>
<body>

<div class="min-w">
	<div class="header">
	<div class="box">
		<h1 class="logo fl"><a href="{url_index}"><img src="template/190805/images/logo.png"></a></h1>
			<div class="topbar fr">
				<ul class="nav">
					<li><a href="{url_index}"{class_index}>首页</a></li>
					<li><a href="{url_advertiser}"{class_advertiser}>广告主</a></li>
					<li><a href="{url_webowner}"{class_webowner}>网站主</a></li>
					<li><a href="{url_infoall}"{class_infoall}>最新公告</a></li>
					<li><a href="{url_help}"{class_help}>常见问题</a></li>
				</ul>
				<div class="login-bar"><a href="{url_reg}" class="btn1">注册</a><a href="{url_login}" class="btn2">登录</a></div>
			</div>
	</div>
</div>
