{top}

	<div class="banner box-lazy1">
		<div class="banner-img">
			<ul>
				<li>
					<img src="template/190805/images/img1920_3.jpg" class="lazy fadeIn animated" data-delay=".3s" data-class="fadeIn animated" style="animation-delay: 0.3s; visibility: visible;">
					<div class="textbg lazy fadeIn animated" data-delay=".6s" data-class="fadeIn animated" style="animation-delay: 0.6s; visibility: visible;">
						<div class="box">
							<h2 class="lazy fadeInDown animated" data-delay=".9s" data-class="fadeInDown animated" style="animation-delay: 0.9s; visibility: visible;">为开发者提供高额收益</h2>
							<p class="lazy fadeInUp animated" data-delay="1.2s" data-class="fadeInUp animated" style="animation-delay: 1.2s; visibility: visible;">高收益多形式<i></i>快捷流量变现</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="process box-lazy2 zm">
		<div class="box">
			<h2 class="lazy fadeInRight animated" data-delay=".3s" data-class="fadeInRight animated" style="animation-delay: 0.3s; visibility: visible;">媒介合作流程</h2>
			<ul>
				<li class="icon1 lazy bounceIn animated" data-delay=".5s" data-class="bounceIn animated" style="animation-delay: 0.5s; visibility: visible;">注册</li>
				<li class="line lazy process-line animated" data-delay=".1s" data-class="process-line animated" style="animation-delay: 0.1s; visibility: visible;"></li>
				<li class="icon5 lazy bounceIn animated" data-delay=".7s" data-class="bounceIn animated" style="animation-delay: 0.7s; visibility: visible;">网站审核</li>
				<li class="line lazy process-line animated" data-delay=".1s" data-class="process-line animated" style="animation-delay: 0.1s; visibility: visible;"></li>
				<li class="icon6 lazy bounceIn animated" data-delay=".9s" data-class="bounceIn animated" style="animation-delay: 0.9s; visibility: visible;">投放代码</li>
				<li class="line lazy process-line animated" data-delay=".1s" data-class="process-line animated" style="animation-delay: 0.1s; visibility: visible;"></li>
				<li class="icon7 lazy bounceIn animated" data-delay="1.1s" data-class="bounceIn animated" style="animation-delay: 1.1s; visibility: visible;">获得收益</li>
			</ul>
		</div>
	</div>
	<div class="introduce-tab box tab-one clear">
		<div class="box-lazy3 tab-hd">
			<ul>
				<li class="hover lazy fadeInUp animated" data-delay=".2s" data-duration=".6s" data-class="fadeInUp animated" style="animation-delay: 0.2s; visibility: visible; animation-duration: 0.6s;">资源丰富</li>
				<li class="lazy fadeInUp animated" data-delay=".4s" data-duration=".6s" data-class="fadeInUp animated" style="animation-delay: 0.4s; visibility: visible; animation-duration: 0.6s;">智能系统</li>
				<li class="lazy fadeInUp animated" data-delay=".6s" data-duration=".6s" data-class="fadeInUp animated" style="animation-delay: 0.6s; visibility: visible; animation-duration: 0.6s;">技术强大</li>
				<li class="lazy fadeInUp animated" data-delay=".8s" data-duration=".6s" data-class="fadeInUp animated" style="animation-delay: 0.8s; visibility: visible; animation-duration: 0.6s;">公平公正</li>
				<li class="lazy fadeInUp animated" data-delay="1s" data-duration=".6s" data-class="fadeInUp animated" style="animation-delay: 1s; visibility: visible; animation-duration: 0.6s;">优质服务</li>
			</ul>
		</div>
		<div class="box-lazy4">
			<div class="tab-bd zm">
				<div>
					<div class="text fl">
						<h3 class="lazy bounceIn animated" data-delay=".2s" data-class="bounceIn animated" style="animation-delay: 0.2s; visibility: visible;">资源丰富</h3>
						<p class="lazy fadeInUp animated" data-delay=".4s" data-class="fadeInUp animated" style="animation-delay: 0.4s; visibility: visible;">88移动联盟与海量优质广告主合作，覆盖游戏、电商、品牌等各类广告主数10万家以上，充足的广告资源确保广告拥有极高的填充率。同时严格把控广告质量，确保广告素材不影响用户体验。海量广告主和高品质的广告素材，既保证了广告的点击率，又能够提升开发者收益。</p>
					</div>
					<div class="img lazy fr fadeInRight animated" data-delay=".6s" data-class="fadeInRight animated" style="animation-delay: 0.6s; visibility: visible;"><img src="template/190805/images/introduce6.jpg"></div>
				</div>
				<div class="ds-n">
					<div class="text fl">
						<h3 class="lazy bounceIn animated" data-delay=".2s" data-class="bounceIn animated" style="animation-delay: 0.2s; visibility: visible;">智能系统</h3>
						<p class="lazy fadeInUp animated" data-delay=".4s" data-class="fadeInUp animated" style="animation-delay: 0.4s; visibility: visible;">88移动联盟的智能统计分析系统，为站长提供透明、实时的流量数据和收入数据，站长可随时监测。诚信为本，做站长最值得信赖的移动广告联盟。</p>
					</div>
					<div class="img lazy fr fadeInRight animated" data-delay=".6s" data-class="fadeInRight animated" style="animation-delay: 0.6s; visibility: visible;"><img src="template/190805/images/introduce6.jpg"></div>
				</div>
				<div class="ds-n">
					<div class="text fl">
						<h3 class="lazy bounceIn animated" data-delay=".2s" data-class="bounceIn animated" style="animation-delay: 0.2s; visibility: visible;">技术强大</h3>
						<p class="lazy fadeInUp animated" data-delay=".4s" data-class="fadeInUp animated" style="animation-delay: 0.4s; visibility: visible;">88移动联盟拥有业内领先的技术团队，对广告平台系统拥有独特的技术优势。强大的技术力量保证了系统的正常运行，同时能给站长的日常技术问题提供专业的解决方案。</p>
					</div>
					<div class="img lazy fr fadeInRight animated" data-delay=".6s" data-class="fadeInRight animated" style="animation-delay: 0.6s; visibility: visible;"><img src="template/190805/images/introduce6.jpg"></div>
				</div>
				<div class="ds-n">
					<div class="text fl">
						<h3 class="lazy bounceIn animated" data-delay=".2s" data-class="bounceIn animated" style="animation-delay: 0.2s; visibility: visible;">公平公正</h3>
						<p class="lazy fadeInUp animated" data-delay=".4s" data-class="fadeInUp animated" style="animation-delay: 0.4s; visibility: visible;">88移动联盟的智能统计分析系统，为网站主提供精确的数据依据。一方面，数据统计系统公平、透明计算广告收入，网站主可翔实监测；另一方面，数据统计系统也为网站主的优化提供参考。</p>
					</div>
					<div class="img lazy fr fadeInRight animated" data-delay=".6s" data-class="fadeInRight animated" style="animation-delay: 0.6s; visibility: visible;"><img src="template/190805/images/introduce6.jpg"></div>
				</div>
				<div class="ds-n">
					<div class="text fl">
						<h3 class="lazy bounceIn animated" data-delay=".2s" data-class="bounceIn animated" style="animation-delay: 0.2s; visibility: visible;">优质服务</h3>
						<p class="lazy fadeInUp animated" data-delay=".4s" data-class="fadeInUp animated" style="animation-delay: 0.4s; visibility: visible;">88移动联盟拥有专业的客服人员，保证新提交网站的快速审核。对于开发者广告费用提现审核及时响应快速到帐。同时，如果开发者有什么建议或意见我们也会及时跟进反馈。</p>
					</div>
					<div class="img lazy fr fadeInRight animated" data-delay=".6s" data-class="fadeInRight animated" style="animation-delay: 0.6s; visibility: visible;"><img src="template/190805/images/introduce6.jpg"></div>
				</div>		
			</div>
			<div class="btn lazy fadeInUp animated" data-delay="1s" data-class="fadeInUp animated" style="animation-delay: 1s; visibility: visible;"><a href="{url_reg}">我有平台，立即注册赚钱</a></div>
		</div>
	</div>

{bottom}
