<div class="foot">
   <div class="box">
	   <div class="t_1000">
		   <ul>
			   <li class="first">
				   <dl>
					   <dt>网站主客服</dt>
					   					   <dd><a href="tencent://message/?uin={qq_1_code}&Site={systitle}&Menu=yes" target="_blank" class="qq pngFix">{qq_1_nickname}</a></dd>
					   					   <dd><a href="tencent://message/?uin={qq_2_code}&Site={systitle}&Menu=yes" target="_blank" class="qq pngFix">{qq_2_nickname}</a></dd>
					   					   <dd><a href="tencent://message/?uin={qq_3_code}&Site={systitle}&Menu=yes" target="_blank" class="qq pngFix">{qq_3_nickname}</a></dd>
					   				   </dl>
			   </li>
			   <li>
				   <dl>
					   <dt>广告主客服</dt>
					   					   <dd><a href="tencent://message/?uin={qqb_1_code}&Site={systitle}&Menu=yes" target="_blank" class="qq pngFix">{qqb_1_nickname}</a></dd>
					   					   <dd><a href="tencent://message/?uin={qqb_2_code}&Site={systitle}&Menu=yes" target="_blank" class="qq pngFix">{qqb_2_nickname}</a></dd>
					   					   <dd><a href="tencent://message/?uin={qqb_3_code}&Site={systitle}&Menu=yes" target="_blank" class="qq pngFix">{qqb_3_nickname}</a></dd>
					   				   </dl>
			   </li>
			   <li>
				   <dl>
					   <dt>网站主问题</dt>
					   					   <dd><span class="pngFix"></span><a href="index.asp?f=infoshow&id=15" target="_blank" class="que">联盟有哪些广告类型</a></dd>
					   					   <dd><span class="pngFix"></span><a href="index.asp?f=infoshow&id=14" target="_blank" class="que">网站主会员在什么情况下会被拒付广告费</a></dd>
					   					   <dd><span class="pngFix"></span><a href="index.asp?f=infoshow&id=13" target="_blank" class="que">网站主会员审核标准是什么</a></dd>
					   					   <dd><span class="pngFix"></span><a href="index.asp?f=infoshow&id=12" target="_blank" class="que">什么时候付钱给我</a></dd>
					   				   </dl>
			   </li>
			   <li>
				   <dl>
					   <dt>广告主问题</dt>
					   					   <dd><span class="pngFix"></span><a href="index.asp?f=infoshow&id=21" target="_blank" class="que">对联盟的网络广告产品不了解，怎么办？</a></dd>
					   					   <dd><span class="pngFix"></span><a href="index.asp?f=infoshow&id=20" target="_blank" class="que">广告主会员如何发布广告？</a></dd>
					   					   <dd><span class="pngFix"></span><a href="index.asp?f=infoshow&id=19" target="_blank" class="que">关于广告主广告页面的规定</a></dd>
					   					   <dd><span class="pngFix"></span><a href="index.asp?f=infoshow&id=18" target="_blank" class="que">广告正式投放之后还能进行修改吗？</a></dd>
					   				   </dl>
			   </li>
			   <li class="last">
				   <dl>
					   <dt>新闻公告</dt>
					   					   <dd><span class="pngFix"></span><a href="{infolast_1_link}" target="_blank" class="que">{infolast_1_title_30}</a></dd>
					   					   <dd><span class="pngFix"></span><a href="{infolast_2_link}" target="_blank" class="que">{infolast_2_title_30}</a></dd>
					   					   <dd><span class="pngFix"></span><a href="{infolast_3_link}" target="_blank" class="que"> {infolast_3_title_30}</a></dd>
					   					   <dd><span class="pngFix"></span><a href="{infolast_4_link}" target="_blank" class="que"> {infolast_4_title_30}</a></dd>
					   				   </dl>
			   </li>
		   </ul>
	   </div>
   </div>
</div>
<div class="copy">
   <div class="t_1000">
	   <p>Copyright {systitle} All Rights Reserved</p>
   </div>
</div>	


</body>
</html>
