{top}

<div class="inbanner" style="background:url(template/151023/images/n_banner.jpg) center no-repeat;"></div>

<div class="t_1000">
	<div class="location">
		<span class="pngFix"></span>
		<p>当前位置： <a href="{url_index}">首页 </a> &gt; 联盟公告</p> 
	</div>
	<div class="register con">
		<div class="title">
			   <div class="titlf"><h1>联盟公告<span class="grey"> / </span><span class="entit">NEWS</span></h1></div>
		</div>
		

{infoclassall}

<div style="clear:both"></div>
{infoall}



	</div>
</div>


{bottom}
