{top}

<div class="inbanner" style="background:url(template/151023/images/n_banner.jpg) center no-repeat;"></div>

<div class="t_1000">
	<div class="location">
		<span class="pngFix"></span>
		<p>当前位置： <a href="{url_index}">首页 </a> &gt; 用户登录</p> 
	</div>
	<div class="register con">
		<div class="title">
			   <div class="titlf"><h1>用户登录<span class="grey"> / </span><span class="entit">LOGIN</span></h1></div>
		</div>
	
<style type="text/css">
#login {margin:10px auto;width:240px;height:140px}
#login input{border:1px solid #bbb; background:#fefefe url(input_bg.gif) no-repeat; height:26px; line-height:26px; padding:0 5px}
</style>


{userlogin}




	</div>
</div>


{bottom}
