{top}

<div class="inbanner" style="background:url(template/151023/images/n_banner.jpg) center no-repeat;"></div>

<div class="t_1000">
	<div class="location">
		<span class="pngFix"></span>
		<p>当前位置： <a href="{url_index}">首页 </a> &gt; 找回密码</p> 
	</div>
	<div class="register con">
		<div class="title">
			   <div class="titlf"><h1>找回密码<span class="grey"> / </span><span class="entit">PASSWORD</span></h1></div>
		</div>

<style type="text/css">
#pwdrecover {margin:10px auto;width:280px;height:180px}
#pwdrecover input{border:1px solid #bbb; background:#fefefe url(input_bg.gif) no-repeat; height:26px; line-height:26px; padding:0 5px}
</style>

<script>
$(function(){
$("#pwdrecoverbtn").click(function(){
 if($("#username").val()==""){
  alert('请输入用户名', '', function () {$("#username").focus();});
  return false;
 }
});
});
</script>
<form name="form1" method="post" action="CF.aspx?Action=pwdsend">
<div id="pwdrecover">
<ul>
<li id="pwdrecover_a1">找回密码</li>
<li id="pwdrecover_a2">系统会自动发送修改密码邮件到你的Email里</li>
<li id="pwdrecover_a3">你的用户名：</li>
<li id="pwdrecover_a4"><input type="text" name="username" id="username"></li>
<li id="pwdrecover_a5">
<input type="submit" name="pwdrecoverbtn" id="pwdrecoverbtn" value="取回密码"><span style="margin-left:15px"><a href="javascript:history.go(-1);">返回</a></span>
</li>
</ul>
</div>
</form>
{pwdrecoverother}



	</div>
</div>


{bottom}
