{top}

<DIV id=webmain>
<TABLE class=maintable cellSpacing=0 cellPadding=0 border=0>
  <TBODY>
  <TR>
    
<TD valign="top">



<DIV class="f-l w-220">
<H2><a class=s-1>用户登录</a> 
<DIV class=bdr-right></DIV>
</H2>
<DIV class=bdr>
<DIV class=bk-10></DIV>
{userlogin}
</DIV>
</DIV>
<DIV class=clear></DIV>
<DIV class="bdr-bottom-220"></DIV>
<DIV class="bk-10"></DIV>

<DIV class="f-l w-220">
<H2><a class=s-1>在线客服</a> 
<DIV class=bdr-right></DIV>
</H2>
<DIV class=bdr>
<DIV class=bk-10></DIV>
<UL class=list-1>
<LI>
{qqonline}
</LI>
</UL>
</DIV>
</DIV>
<DIV class=clear></DIV>
<DIV class="bdr-bottom-220"></DIV>
<DIV class="bk-10"></DIV>

<DIV class="f-l w-220">
<H2><a class=s-1>联系我们</a> 
<DIV class=bdr-right></DIV>
</H2>
<DIV class=bdr>
<DIV class=bk-5></DIV>
<UL class=list-1>
<LI>
{index_lxwm}
</LI>
</UL>
</DIV>
</DIV>
<DIV class=clear></DIV>
<DIV class="bdr-bottom-220"></DIV>
<DIV class="bk-10"></DIV>

<DIV class="f-l w-220">
<H2><a class=s-1>推广排行</a> 
<DIV class=bdr-right></DIV>
</H2>
<DIV class=bdr>
<DIV class=bk-5></DIV>
<UL class=list-1>
<LI>
{usertop}
</LI>
</UL>
</DIV>
</DIV>
<DIV class=clear></DIV>
<DIV class="bdr-bottom-220"></DIV>
<DIV class="bk-10"></DIV>

</TD>

<TD valign="top" style="padding-left:10px;padding-right:10px;">

<DIV class="f-l w-500">
<H2><a class=s-1>结算规则</a>
<DIV class=bdr-right></DIV>
</H2>
<DIV class=bdr>
<DIV class=bk-5></DIV>
<UL class=list-1>
<LI>
{menu_jsgz}
</LI>
</UL>
</DIV>
</DIV>
<DIV class=clear></DIV>
<DIV class="bdr-bottom-500"></DIV>
<DIV class="bk-10"></DIV>

</TD>


<TD valign="top">


<DIV class="f-l w-220">
<H2><a class=s-1>最新结算</a> 
<DIV class=bdr-right></DIV>
</H2>
<DIV class=bdr>
<DIV class=bk-5></DIV>
<UL class=list-1>
<LI>
{spendlast}
</LI>
</UL>
</DIV>
</DIV>
<DIV class=clear></DIV>
<DIV class="bdr-bottom-220"></DIV>
<DIV class="bk-10"></DIV>

<DIV class="f-l w-220">
<H2><a class=s-1>最新用户</a> 
<DIV class=bdr-right></DIV>
</H2>
<DIV class=bdr>
<DIV class=bk-5></DIV>
<UL class=list-1>
<LI>
{userlast}
</LI>
</UL>
</DIV>
</DIV>
<DIV class=clear></DIV>
<DIV class="bdr-bottom-220"></DIV>
<DIV class="bk-10"></DIV>

<DIV class="f-l w-220">
<H2><a class=s-1>最新广告主</a> 
<DIV class=bdr-right></DIV>
</H2>
<DIV class=bdr>
<DIV class=bk-5></DIV>
<UL class=list-1>
<LI>
{aduserlast}
</LI>
</UL>
</DIV>
</DIV>
<DIV class=clear></DIV>
<DIV class="bdr-bottom-220"></DIV>
<DIV class="bk-10"></DIV>


</TD>
</TR>
</TBODY>
</TABLE>
</DIV>

{bottom}
