{top}

  
<div class="hero hero-source">
</div>
<div class="ganbuot">
    <h3>公司简介</h3>
    <p>       XX移动广告平台隶属北京XX科技有限公司，自2015年上线运营以来，发展极为迅速，合作会员累计达上万家，并以每天上百家的速度递增。已为数百家游戏厂商及知名品牌企业进行广告推广，成功塑造了企业形象和产品品牌，与多家知名企业建立了长久战略合作关系。    </p>
    <p>在XX移动广告平台上您可以定时，定量，定区域，定行业的进行广告投放。</p>
    <p>在XX移动广告平台可以为客户量身订作整个移动网络广告宣传过程，全程监测广告效果，为每一个点击负责，真正做到效果营销，精准定位。</p>
    <p>经过长期的研发和经验积累，我们已经建立最完善的付费机制，拥有众多高质量的网站群、开发者群、提供双方交换信息及进行操作的系统，并提供长期稳定的技术支持、根据用户的需求定期对系统进行升级、执行完善的作弊检查！高标准，高要求，高效率，高效果，是XX人所追求的目标。</p>
    <p>我们希望通过努力给您带来实实在在的效果，让每一次点击能产生最大的价值，我们为自己代言！</p>
</div>
<div class="mapditutwo">   
    <div style="margin: 0 auto"><img src="template/171127/images/mapditutwo.jpg" /></div>
    <div> 
        <dl style='width:1000px'>
            <dt><img src="template/171127/images/dingwei.png">&nbsp;公司地址 </dt>
            <dd><p>北京市海淀区中关村XX大厦1-1</p></dd>
        </dl>
    </div>

</div>

<div class="new_wrap" style="background: #f6fafd;min-height: 500px;clear: both">
    <div class="main_wrap">
        <div class=" huoban">


            <p style="font-size: 35px; text-align: center;line-height: 170px">战略合作品牌</p>
            <div class="huoban1">
                <img src="template/171127/images/youzuwangl.jpg"  alt="">
                <img src="template/171127/images/woniuyidong.jpg"  alt="">
                <img src="template/171127/images/tengxunyouxi.jpg"  alt="">
                <img src="template/171127/images/tanwanyouxi.jpg"  alt="">
                <img src="template/171127/images/9377youxi.jpg"  alt="">
                <img src="template/171127/images/zhongguoshouyou.jpg"  alt="">
                <img src="template/171127/images/duoyiwangluo.jpg"  alt="">
                <img src="template/171127/images/kingnet.jpg"  alt="">
                <img src="template/171127/images/jurenwangluo.jpg"  alt="">
                <img src="template/171127/images/douyuzhibo.jpg"  alt="">
                <img src="template/171127/images/3604653dfwe636.jpg"  alt="">
                <img src="template/171127/images/dangdangdp4343.jpg"  alt="">
                <img src="template/171127/images/suningytgiy.jpg"  alt="">
                <img src="template/171127/images/zhaoshangyunshonl.jpg"  alt="">
                <img src="template/171127/images/biekepsdow.jpg"  alt="">
                <img src="template/171127/images/liantonghiw.jpg"  alt="">
                <img src="template/171127/images/zgyidtopsn.jpg"  alt="">
                <img src="template/171127/images/zxcaf.jpg"  alt="">
                <img src="template/171127/images/tianxianghudonowod.jpg"  alt="">
                <img src="template/171127/images/937736e6fas.jpg"  alt="">
            </div>

        </div>

    </div>
</div>

{bottom}