{top}

    
<div class="wrapper">
<div class="hero hero-index sec-animate" style="margin-top: 0">
    <div class="container">
        <div class="hero-content">
            <h2 class="hero-title">
                <span><b>巨量联盟</b></span>
                <span>高效实现您的营销目标</span>
            </h2>
            <p class="hero-text">推广移动应用 热门手游   品牌活动<br>增加在线销量   获得潜在优质粉丝关注</p>
            <a href="?f=reg" class="btn btn-primary btn-xlg" data-dmhottag="register" data-dmhottag-type="button-1" >快速注册</a>
        </div>
    </div>
    <div class="hero-index-bg"></div>
</div>
<div class="overview">
    <div class="ad-source sec-animate" data-offset="-160">
        <div class="container">
            <div class="ad-source-text">
                <h3 class="title title-big">   <span>多样的广告资源</span>
                    <span>覆盖2亿优质用户</span></h3>
                <div class="content">
                    <p>每天有超过2亿用户使用巨量联盟合作的产品及第三方应用，他们分享自己感兴趣的内容，浏览商业信息。我们帮助您与这些受众建立联系，将优质商业信息推送给真正需要的人。</p>
                    <!-- <a href="/ads/resources" class="btn-more-source" data-dmhottag="moreresources" data-dmhottag-type="ads_screen_2">更多资源 ></a> -->
                </div>
                <!-- <a href="/reg-new" class="btn btn-primary btn-lg" data-dmhottag="register" data-dmhottag-type="button-2">注册账户，查看广告位详情</a> -->
            </div>
            <div class="ad-source-light"></div>
            <div class="ad-source-list">
                <ul>

                    <li  style="width: 175px; margin-bottom: 35px">
                        <span style="float: right; margin-top: 21px">300,000,000次 <br/>PV展现</span>
                        <i class="icon icon-qq"></i>

                    </li>
                    <li  style="width: 155px; margin-bottom: 35px">
                        <span style="float: right;margin-top: 21px">60,000 <br/>WAP网站</span>
                        <i class="icon icon-wechat"></i>

                    </li>
                    <li  style="width: 155px; margin-bottom: 35px">
                        <span style="float: right;margin-top: 21px">50,000<br/> APP开发者</span>
                        <i class="icon icon-ads"></i>

                    </li>
                    <li  style="width: 155px">
                        <span style="float: right;margin-top: 21px">20,000<br/> 微信公众号</span>
                        <i class="icon icon-browser"></i>

                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="orientation-ability sec-animate" data-offset="-110">
        <div class="container">
            <div class="orientation-ability-text">
                <h3 class="title title-big"> <span>精准的定向能力</span>
                    <span>瞄准活跃客户</span></h3>
                <div class="content">
                    <p>我们为您提供了众多广告定向条件，您可以从中选择适合达成您商业目标的条件锁定人群。这些条件包括人口属性、商业兴趣、地理位置、使用设备、天气环境等等。</p>
                    <!-- <a href="javascript:;" class="btn-more-orientation" data-dmhottag="moretargeting" data-dmhottag-type="ads_screen_3">更多定向 ></a> -->
                </div>
                <!-- <a href="?f=reg" class="btn btn-primary btn-lg" data-dmhottag="register" data-dmhottag-type="button-3">注册账户，马上试用定向功能</a> -->
            </div>
            <div class="" style="float: right">
                <img src="template/171127/images/jingzhunduingwi.png" />
            </div>

        </div>
    </div>
    <div class="management sec-animate" data-offset="-110">
        <div class="container">
            <h3 class="title title-big"><span>更合理、透明的费用管理模式</span>
                <span>帮您平衡成本和收益</span></h3>
            <div class="management-list row">
                <ul>
                    <li class="management-item col-4">
                        <div class="column">
                            <i class="icon icon-free"></i>
                            <h4>优质的媒体资源</h4>
                            <p>巨量移动广告平台涉及手机报、手机游戏、手机文学、手机视频等方面的资源，拥有高质量用户群体。</p>
                        </div>
                    </li>
                    <li class="management-item col-4">
                        <div class="column">
                            <i class="icon icon-cost"></i>
                            <h4>成本可控</h4>
                            <p>您可以为广告账户或者计划设置日预算随时编辑预算或停止投放广告，我们的系统会立即为您执行</p>
                        </div>
                    </li>
                    <li class="management-item col-4">
                        <div class="column">
                            <i class="icon icon-count"></i>
                            <h4>多种计费模式</h4>
                            <p>根据不同推广目标提供更为合理的计费模式，包括CPC、CPM和CPA。为您提供效果自动优化，持续提高广告的效率和产出</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="new_wrap" style="background: #f6fafd;min-height: 500px;clear: both">
    <div class="main_wrap">
        <div class=" huoban">


            <p style="font-size: 35px; text-align: center;line-height: 170px">战略合作品牌</p>
            <div class="huoban1">
                <img src="template/171127/images/youzuwangl.jpg"  alt="">
                <img src="template/171127/images/woniuyidong.jpg"  alt="">
                <img src="template/171127/images/tengxunyouxi.jpg"  alt="">
                <img src="template/171127/images/tanwanyouxi.jpg"  alt="">
                <img src="template/171127/images/9377youxi.jpg"  alt="">
                <img src="template/171127/images/zhongguoshouyou.jpg"  alt="">
                <img src="template/171127/images/duoyiwangluo.jpg"  alt="">
                <img src="template/171127/images/kingnet.jpg"  alt="">
                <img src="template/171127/images/jurenwangluo.jpg"  alt="">
                <img src="template/171127/images/douyuzhibo.jpg"  alt="">
                <img src="template/171127/images/3604653dfwe636.jpg"  alt="">
                <img src="template/171127/images/dangdangdp4343.jpg"  alt="">
                <img src="template/171127/images/suningytgiy.jpg"  alt="">
                <img src="template/171127/images/zhaoshangyunshonl.jpg"  alt="">
                <img src="template/171127/images/biekepsdow.jpg"  alt="">
                <img src="template/171127/images/liantonghiw.jpg"  alt="">
                <img src="template/171127/images/zgyidtopsn.jpg"  alt="">
                <img src="template/171127/images/zxcaf.jpg"  alt="">
                <img src="template/171127/images/tianxianghudonowod.jpg"  alt="">
                <img src="template/171127/images/937736e6fas.jpg"  alt="">
            </div>

        </div>

    </div>
</div>

{bottom}