{top}
<style type="text/css">
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        background: url("../Template/171127/images/login_bg.jpg") center no-repeat;
    }
</style>
<script>
$(function(){
    $("#userlogin").click(function(){
        if($('#username').val()==""){
            alert('请输入用户名', '', function () {$("#username").focus();});
            return false;
        }
        if($('#pwd').val()==""){
            alert('请输入密码', '', function () {$("#pwd").focus();});
            return false;
        }
        $('#form_userlogin').submit();
        return true;
    });

});
</script>

<form name='form_userlogin' id=form_userlogin method='post' action='index.asp?Action=userloginsave' >
    <div class="login_ndr">
        <div class="login_ndr_1">
            <h3>用户登录</h3>
            <div class="username">
                <i></i>
                <input name="username" id="username" type="text" value="" placeholder="登录账号">
            </div>
            <div class="pwd">
                <i></i>		
                <input name="pwd" id="pwd"  type="password" value="" placeholder="登录密码">
            </div>
            <div class="cookies_time">		
                <input name="cookies_time" type="checkbox" id="cookies_time" value="43200">
                记住我
                <a href="{url_pwdrecover}" style="margin-left:180px;">忘记密码</a>
            </div>
            <a id="userlogin" href="javascript:;" class="login_ndr_1_a" onclick='userlogincheck();'>登录</a>
        </div>
    </div>
</form>