{top}

<style>

        input{
            border: 1px solid #ccc;
            border-radius: 2px;
            color: #000;
            font-family: 'Open Sans', sans-serif;
            font-size: 1em;
            padding: 0 5px;
            transition: background 0.3s ease-in-out;
        }
        input:focus {
            outline: none;
            border-color: #9ecaed;
            box-shadow: 0 0 10px #9ecaed;
        }
		td{height:40px;}
    </style>
	
<script>
$(function(){
$("#pwdrecoverbtn").click(function(){
 if($("#username").val()==""){
  alert('请输入用户名', '', function () {$("#username").focus();});
  return false;
 }
});
});
</script>

<form name="form1" method="post" action="CF.aspx?Action=pwdsend">
<div id="pwdrecover" style="margin-top:100px;">
<ul>
<li id="pwdrecover_a1">找回密码</li>
<li id="pwdrecover_a2">系统会自动发送修改密码邮件到你的Email里</li>
<li id="pwdrecover_a3">你的用户名：</li>
<li id="pwdrecover_a4"><input type="text" name="username" id="username" style="line-height:28px;width:200px"></li>
<li id="pwdrecover_a5">
<input type="submit" name="pwdrecoverbtn" id="pwdrecoverbtn" value="取回密码" class="login_ndr_1_a" style="margin:5px;width:170px;"><span style="margin-left:15px"><a href="javascript:history.go(-1);">返回</a></span>
</li>
</ul>
</div>
</form>

<div class="new_wrap" style="background: #f6fafd;min-height: 500px;clear: both">
    <div class="main_wrap">
        <div class=" huoban">


            <p style="font-size: 35px; text-align: center;line-height: 170px">战略合作品牌</p>
            <div class="huoban1">
                <img src="template/171127/images/youzuwangl.jpg"  alt="">
                <img src="template/171127/images/woniuyidong.jpg"  alt="">
                <img src="template/171127/images/tengxunyouxi.jpg"  alt="">
                <img src="template/171127/images/tanwanyouxi.jpg"  alt="">
                <img src="template/171127/images/9377youxi.jpg"  alt="">
                <img src="template/171127/images/zhongguoshouyou.jpg"  alt="">
                <img src="template/171127/images/duoyiwangluo.jpg"  alt="">
                <img src="template/171127/images/kingnet.jpg"  alt="">
                <img src="template/171127/images/jurenwangluo.jpg"  alt="">
                <img src="template/171127/images/douyuzhibo.jpg"  alt="">
                <img src="template/171127/images/3604653dfwe636.jpg"  alt="">
                <img src="template/171127/images/dangdangdp4343.jpg"  alt="">
                <img src="template/171127/images/suningytgiy.jpg"  alt="">
                <img src="template/171127/images/zhaoshangyunshonl.jpg"  alt="">
                <img src="template/171127/images/biekepsdow.jpg"  alt="">
                <img src="template/171127/images/liantonghiw.jpg"  alt="">
                <img src="template/171127/images/zgyidtopsn.jpg"  alt="">
                <img src="template/171127/images/zxcaf.jpg"  alt="">
                <img src="template/171127/images/tianxianghudonowod.jpg"  alt="">
                <img src="template/171127/images/937736e6fas.jpg"  alt="">
            </div>

        </div>

    </div>
</div>

{bottom}
