{top}

    
  
<div class="hero hero-sourc2e">
</div>
<div id="features" class="features">
    <div class="container">

        <ul class="list-icon-title clearfix">
            <li class="features-item01">
                <i class="icon_ads"><img src="template/171127/images/jihuochengbanefi.png"> </i>
                <h3 class="title">激活成本低</h3>
                <p>用精准的投放和专业的运营</p>
                <p>来降低推广成本</p>
            </li>
            <li class="features-item02">
                <i class="icon_ads"><img src="template/171127/images/jihuochengbanefi2.png"></i>
                <h3 class="title">高质量媒体</h3>
                <p>经过严格的审核筛选，保证</p>
                <p>流量稳定，用户质量真实</p>
            </li>
            <li class="features-item03">
                <i class="icon_ads"><img src="template/171127/images/jihuochengbanefi3.png"></i>
                <h3 class="title">高投产比</h3>
                <p>为用户推送有价值的广告，提升广告 </p>
                <p>体验，同时为广告主增加收益</p>
            </li>
            <li class="features-item04">
                <i class="icon_ads"><img src="template/171127/images/jihuochengbanefi4.png"></i>
                <h3 class="title">多重防作弊算法</h3>
                <p>多重防作弊机制，24*7小时数据监控</p>
                <p>保障每一个点击的真实性</p>
            </li>
        </ul>
    </div>
</div>

<div class="cpv_form">
    <h3 style="text-align: center;margin-bottom: 100px;font-size: 40px">广告形式</h3>
    <div class="cpv_form_x cpv_form_x_1">
        <dl>
            <dt ><img src="template/171127/images/cpvform_dl1.png"> </dt>
            <dd>
                <h3>Banner广告</h3>
                <p class="blue_btdd">适合在用户停留较久或者访问频繁的页面</p>
                <p>展现场景：用户停留较久的页面用户访问比较频繁的页面</p>
                <p> 尺       寸： 640x200、640x150 </p>
                <p>支持平台：Android、IOS</p>
                <p>计费方式：CPV</p>
            </dd>
        </dl>
    </div>
    <div class="cpv_form_x cpv_form_x_2">
        <dl>
            <dt ><img src="template/171127/images/cpvform_dl2.png"> </dt>
            <dd>
                <h3>插屛广告</h3>
                <p class="blue_btdd">暂停或场景切换时以半屏方式弹出</p>
                <p>展现场景：视频前贴、暂停、后贴、游戏暂停、过关、阅读翻页、加载</p>
                <p> 尺       寸： 400x400、500x500 </p>
                <p>支持平台：Android、IOS</p>
                <p>计费方式：CPC</p>
            </dd>
        </dl>
    </div>
    <div class="cpv_form_x cpv_form_x_3">
        <dl>
            <dt ><img src="template/171127/images/cpvform_dl3.png"> </dt>
            <dd>
                <h3>原生广告</h3>
                <p class="blue_btdd">作为应用部分与APP高度融合的广告弹出</p>
                <p>展现场景：与应用高度融合的位置千变万化</p>
                <p> 尺       寸： 640x200、640x150 </p>
                <p>支持平台：Android、IOS</p>
                <p>计费方式：CPC</p>
            </dd>
        </dl>
    </div>

</div>

<div class="new_wrap" style="background: #f6fafd;min-height: 500px;clear: both">
    <div class="main_wrap">
        <div class=" huoban">


            <p style="font-size: 35px; text-align: center;line-height: 170px">战略合作品牌</p>
            <div class="huoban1">
                <img src="template/171127/images/youzuwangl.jpg"  alt="">
                <img src="template/171127/images/woniuyidong.jpg"  alt="">
                <img src="template/171127/images/tengxunyouxi.jpg"  alt="">
                <img src="template/171127/images/tanwanyouxi.jpg"  alt="">
                <img src="template/171127/images/9377youxi.jpg"  alt="">
                <img src="template/171127/images/zhongguoshouyou.jpg"  alt="">
                <img src="template/171127/images/duoyiwangluo.jpg"  alt="">
                <img src="template/171127/images/kingnet.jpg"  alt="">
                <img src="template/171127/images/jurenwangluo.jpg"  alt="">
                <img src="template/171127/images/douyuzhibo.jpg"  alt="">
                <img src="template/171127/images/3604653dfwe636.jpg"  alt="">
                <img src="template/171127/images/dangdangdp4343.jpg"  alt="">
                <img src="template/171127/images/suningytgiy.jpg"  alt="">
                <img src="template/171127/images/zhaoshangyunshonl.jpg"  alt="">
                <img src="template/171127/images/biekepsdow.jpg"  alt="">
                <img src="template/171127/images/liantonghiw.jpg"  alt="">
                <img src="template/171127/images/zgyidtopsn.jpg"  alt="">
                <img src="template/171127/images/zxcaf.jpg"  alt="">
                <img src="template/171127/images/tianxianghudonowod.jpg"  alt="">
                <img src="template/171127/images/937736e6fas.jpg"  alt="">
            </div>

        </div>

    </div>
</div>

{bottom}