{top}

<DIV id=content>
<DIV id=container>
<DIV id=lmage>
<DIV id=MainPromotionBanner>
<DIV id=SlidePlayer>
<UL class=Slides>
  <LI><IMG alt=丰富多样的广告资源，多样的推广形式。 src="template/101206/images/pic0.jpg"> </LI>
  <LI><IMG alt=专业推广是10%的创意+90%的数据挖掘。 src="template/101206/images/pic1.jpg"> </LI>
  <LI><IMG alt=资源积聚优势，口碑营造品牌。 src="template/101206/images/pic2.gif"> </LI>
  <LI><IMG alt=广告联盟与您携手成长。 src="template/101206/images/pic3.jpg"> </LI></UL></DIV>
<SCRIPT type=text/javascript>
TB.widget.SimpleSlide.decoration('SlidePlayer', {eventType:'mouse', effect:'scroll'});
</SCRIPT>
</DIV></DIV>
<DIV id=text>
<DIV id=lntegral>
<H2 id=zf><SPAN class=more><A title=优秀网站媒体 
href="#">更多</A></SPAN>最佳网站主</H2>
<DIV id=lp>
<DIV class=wzz><IMG border=0 alt=小说阅读网 src="template/101206/images/ranwen.gif" width=110 
height=30></DIV>
<DIV class=wzz><IMG border=0 alt=玄幻书剑 src="template/101206/images/lxwx.gif" width=110 
height=30></DIV>
<DIV class=wzz><IMG border=0 alt=红袖添香 src="template/101206/images/yankuai.gif" width=110 
height=30></DIV>
<DIV class=wzz><IMG border=0 alt=纵横中文网 src="template/101206/images/dwx.gif" width=110 
height=30></DIV></DIV></DIV>
<DIV id=product>
<H2 id=han><SPAN class=more><A title=广告联盟推荐 
href="#">更多</A></SPAN>联盟广告推荐</H2>
<DIV id=nr>
<DL class=qiyou1>
  <DT class=x><IMG alt=洪荒神话 src="template/101206/images/honghuangshenhua.gif" width=102 
  height=62> 
  <DD>佣金：<FONT color=#ff6600>4.5元/1000IP</FONT> 
  <DD>CPM弹窗/周结 </DD></DL>
<DL class=qiyou1>
  <DT class=x><IMG alt=仙域 src="template/101206/images/wulinchuanqi.gif" width=102 
  height=62> 
  <DD>佣金：<FONT color=#ff6600>4.5元/1000IP</FONT> 
  <DD>CPM弹窗/周结 </DD></DL>
<DL class=qiyou1>
  <DT class=x><IMG alt=傲剑 src="template/101206/images/tiance.gif" width=102 height=62> 
  <DD>佣金：<FONT color=#ff6600>4.5元/1000IP</FONT> 
  <DD>CPM弹窗/周结 </DD></DL>
<DL class=qiyou1>
  <DT class=x><IMG alt=斗法 src="template/101206/images/shangyedaxiang.gif" width=102 
  height=62> 
  <DD>佣金：<FONT color=#ff6600>1.5元/1000IP</FONT> 
  <DD>CPM富媒体/周结 </DD></DL>
<DL class=qiyou1>
  <DT class=x><IMG alt=天地英雄 src="template/101206/images/shediaochuan.gif" width=102 
  height=62> 
  <DD>佣金：<FONT color=#ff6600>1.5元/1000IP</FONT> 
  <DD>CPM富媒体/周结 </DD></DL>
<DL class=qiyou1>
  <DT class=x><IMG alt=帝国文明 src="template/101206/images/diguowenming.gif" width=102 
  height=62> 
  <DD>佣金：<FONT color=#ff6600>1.5元/1000IP</FONT> 
  <DD>CPM富媒体/周结 </DD></DL></DIV></DIV></DIV></DIV>
<DIV id=sidebar>
<DIV id=login>
<DIV id=loginbar><IMG alt=广告主与网站主登录 src="template/101206/images/loginbar.jpg" width=270 
height=33></DIV>
<DIV id=shop>
{userlogin}
</DIV></DIV>
<DIV id=news>
<H2><SPAN><A class=link title=广告联盟公告 
href="{url_infoall}">更多</A></SPAN>联盟公告</H2>
{infolast}
</DIV></DIV>
<DIV id=di></DIV></DIV></DIV>

{bottom}
