{top}

<div id="box-zzzx">
  <div id="main-zzzx">
    <div id="lmage2x"> <img src="template/101206/images/menu_stgg.jpg" alt="支持中心" width="670" height="221" /> </div>
    <div class="loke">
      <h2 id="fqa-tilte">信息显示</h2>
      <div class="h193loke">
{infoshow}
      </div>
      <div class="dibu"> </div>
    </div>
  </div>
  
  <div id="side2">
      <div id="apply"> <a href="{url_reg}" rel="nofollow"><img src="template/101206/images/zhanchangzhuce.gif" alt="站长申请" width="270" height="51" border="0" /></a> </div>
	  
    <div id="side-ggz">
      <h2>联系我们</h2>
      <table width="229" border="0" cellspacing="0" cellpadding="0" style="line-height:22px; margin-top:10px; margin-left:20px; margin-bottom:0px;">
        <tr>
          <td>
{qqonline}
<div style="clear:both;"></div>
{index_lxwm}
</td>
        </tr>

      </table>
    </div>
	
	<div id="side-ggz">
      <h2>最新用户</h2>
      <table width="229" border="0" cellspacing="0" cellpadding="0" style="line-height:22px; margin-top:10px; margin-left:20px; margin-bottom:0px;">
        <tr>
          <td>
{userlast}
</td>
        </tr>

      </table>
    </div>
	
  </div>
</div>

	
{bottom}